@import '../../scss/base';

form {
    background-color: $main-color;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $text-color;

    h2 {
        color: $text-color;
    }

    div {
        // boxes should be the same width - work with text area
    }

    label {
        margin: 10px;
    }

    input {
        margin-bottom: 10px;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
        color: $text-color;
        font-weight: bold;
    }
}